<h1 class="tab">Sign in</h1>
<div class="tab">
<%= form_tag signin_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <br>
  <%= label_tag :user_name %>
  <%= text_field_tag :user_name %>
  <br>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Sign in" %>
<% end %>
</div>
