<div class="border_form">
<%= form_for @product do |f| %>
  <%= f.label :grape %>
  <%= f.text_field :grape %>
  <br><br>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br><br>
  <%= f.label :cost %>
  <%= f.text_field :cost %>
  <br><br>
  <%= f.label :country %>
  <%= f.text_field :country %>
  <br><br>
  <%= f.submit %>
<% end %>

<%= render "layouts/errors", :object => @product %>
</div>
